html {
    background-color: white;
    font-family: "Oswald";
}

body {
    margin: 0;
}

header {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wide-container {
    width: 1294px;
    height: 261px;
    display: flex;
}

.wide-container div.logo {
    width: 417px;
    height: 203px;
    margin: 0;
    background-color: #BA0003;
    display: flex;
}

.logo span {
    font-weight: 600;
    font-size: 96px;
    line-height: 118.7%;
    letter-spacing: -1.5%;
    width: 252px;
    height: 228px;
    margin-top: 33px;
    margin-left: 30px;
}

nav {
    width: 842px;
    height: 201px;
    display: block;
    background-color: #02B6E8;
    margin-left: 35px;
}

ul.navigation {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 156px 146px 130px;
    gap: 175px;
    justify-content: center;
}

ul.navigation li {
    color: white;
    list-style: none;
    display: block;
    font-weight: 500;
    font-size: 29px;
    line-height: 118.2%;
    letter-spacing: -5%;
}

ul.navigation div {
    margin-top: 50px;
}

ul.navigation div li:nth-child(1) {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    width: 1400px;
    margin: 0 auto;
}

h2 {
    color: white;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

.events .header2 {
    width: 350px;
    height: 60px;
    background-color: #BA0003;
    display: flex;
    align-items: center;
}

.events .header2 h2 {
    margin-left: 155px;
}

section.events {
    width: 1400px;
    height: 635px;
    margin-top: 86px;
}

div.events-list {
    height: 550px;
    margin-top: 25px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-list span {
    text-transform: uppercase;
    font-size: 96px;
    color: gray;
    
}

.register {
    margin-top: 115px;
}

.register .header2 {
    width: 370px;
    height: 60px;
    background-color: #BA0003;
    display: flex;
    align-items: center;
}

.register .header2 h2 {
    margin-left: 110px;
}

div.form {
    width: 1400px;
    height: 430px;
    margin-top: 25px;
    background-color: #D9D9D9;
}

form {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 50px;
    justify-content: center;
    row-gap: 30px;
}

form div {
    width: 400px;
    height: 225px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
}

form div span {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 15px;
}

form div input {
    padding: 0;
    border: 0;
    width: 327px;
    height: 50px;
    margin-top: 57px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    border-right: 1px solid rgba(150, 150, 150, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form div.application-button {
    background-color: #D9D9D9;
    width: 200px;
    height: 95px;
    margin: 0;
}

form div.application-button input {
    background-color: #D9D9D9;
    width: 200px;
    height: 95px;
    margin: 0;
    border: 0;
    filter: drop-shadow(0px 0px 0px);
    background-image: url('Rectangle16.svg');
    cursor: pointer;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}

.application-button {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: right;
}

.about {
    margin-top: 50px;
}

.about .header2 {
    width: 390px;
    height: 60px;
    background-color: #BA0003;
    display: flex;
    align-items: center;
}

.about h2 {
    margin-left: 267px;
}

.about-us {
    width: 1400px;
    height: 700px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.about-us p {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    margin-top: 28px;
    margin-left: 50px;
    display: inline-block;
}

.item1 img:nth-child(3) {
    width: 400px;
    height: 400px;
    position: relative;
}

.item1 img:nth-child(2){
    width: 250px;
    height: 250px;
    position: relative;
}

.item1 img:nth-child(1) {
    width: 300px;
    height: 300px;
    position: relative;
}

.item1 {
    width: 465px;
    display: flex;
    flex-direction: column;
}

.gallery {
    margin-top: 115px;
}

.gallery .header2 {
    width: 400px;
    height: 60px;
    background-color: #BA0003;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.gallery h2 {
    margin-left: 156px;
}

.swiper {
    width: 1260px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #D9D9D9;
}

section .card .image {
    height: 400px;
    width: 400px;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.4));
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background-color: #BA0003;
}

.swiper-button-next, .swiper-button-prev {
    opacity: 0.5;
    color: #BA0003;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
    color: #BA0003;
}

.contacts {
    margin-top: 70px;
    margin-bottom: 200px;
}

.contacts .header2 {
    width: 500px;
    height: 60px;
    background-color: #BA0003;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contacts h2 {
    margin-left: 23px;
}

address {
    font-style: normal;
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 50px;
}

a.phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    color: black;
    margin-top: 30px;
    margin-left: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    margin: 0 auto;
    filter: blur(1.5px);
}

footer span {
    display: block;
    font-weight: 500;
    font-size: 30px;
    color: gray;
    filter: blur(0.5px);
}